<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnfU9XVSnh3pdwPrCZgXOrHVbOmrXY_-E</string>
	<key>GCM_SENDER_ID</key>
	<string>138130649234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lwamzeche.com.roomieProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>roomie-65558</string>
	<key>STORAGE_BUCKET</key>
	<string>roomie-65558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138130649234:ios:f2f28a29f2b96c2eb4764b</string>
</dict>
</plist>